# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
.venv
env/
venv/
venv_*/
ENV/

# Packaging
build/
dist/
*.egg-info/
*.egg

# IDE configuration
.idea/
.vscode/

# Ignore heavy build artifacts for paper release
node_backend/node_modules/
dashboard/build/
dashboard/.cache/
example/venv/
